.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem;
  border-bottom: 1px solid black;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.right-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.button {
  outline: none;
  border: none;
  background-color: #F55E4F;
  padding: 10px 10px;
  color: white;
  border-radius: 10%;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .right-div {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}

